<!-- Main Section-->
<style>
  .proceed-btn {
    background-color: #fc6229;
    border: none;
    color: white;
}
.add-btn:hover{
  background-color: #1c212c;
  color: white;
}
</style>
<section class="mt-5 container">
  <!-- Page Content Goes Here -->
  <h1 class="mb-6 display-5 fw-bold text-center">Your Cart</h1>
  <% if (item.length===0) { %>
  <div class="row g-4 g-md-8">
    <div class="col-12 text-center">
      <img src="\images\cart\Empty Cart.png" alt="Empty Cart" class="img-fluid mx-auto d-block" style="max-height: 50vh;margin-top: 2rem;">
    </div>
  </div>
  <% } else { %>
  <!-- Cart Items -->
  <div class="row g-4 g-md-8">
    <div class="col-12 col-lg-6 col-xl-7">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="ps-sm-3"></th>
              <th class="ps-sm-3">Details</th>
              <th class="ps-sm-3">Price</th>
              <th class="ps-sm-3">Qty</th>
              <th class="ps-sm-3">Total</th>
              <th class="ps-sm-3">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% products.forEach((item) => { %>
            <tr>
              <!-- Image -->
              <td class="d-none d-sm-table-cell">
                <picture class="d-block bg-light p-3 f-w-20">
                  <img class="img-fluid" src="/<%= item.productId.image %>" alt="" />
                </picture>
              </td>
              <!-- /Image -->

              <!-- Details -->
              <td>
                <div class="ps-sm-3">
                  <h6 class="mb-2 fw-bolder"><%= item.productId.name %></h6>
                  <small class="d-block text-muted">Mens / Blue / Medium</small>
                </div>
              </td>
              <!-- /Details -->

              <!-- Price -->
              <td>
                <div class="px-3">
                  <% if(item.productId.offerPrice) {%>
                    <span class="small text-muted mt-1">&#8377 <%= item.productId.offerPrice %><span><small style="color: #dc143c;"> <br> (Offer Price)</small></span>
                  <%} else {%>
                    <span class="small text-muted mt-1">&#8377 <%= item.productId.price %></span>
                  <%} %>
                </div>
              </td>
              <!-- /Price -->

              <!-- Qty -->
              <td>
                <div class="col-md-3 col-lg-3 col-xl-2 d-flex align-items-center">
                  <button
                    class="btn btn-link px-2"
                    onclick="changeQuantity(event, '<%= item.productId._id %>', 'decrement')"
                    data-action="decrement"
                  >
                    <i class="fas fa-minus"></i>
                  </button>

                  <input
                    min="1"
                    max="<%= item.productId.stock  %>"
                    name="quantity" 
                    value="<%= item.quantity %>"
                    type="number"
                    class="form-control form-control-sm input-quantity"
                    data-product-id="<%= item.productId._id %>"
                    onchange="changeQuantity(event, '<%= item.productId._id %>', 'change')"
                  />

                  <button
                    class="btn btn-link px-2"
                    onclick="changeQuantity(event, '<%= item.productId._id %>', 'increment')"
                    data-action="increment"
                  >
                    <i class="fas fa-plus"></i>
                  </button>
                  
                </div>
              </td>
              <!-- /Qty -->
              
              <!-- Total -->
              <td>
                <div class="px-3 d-flex">
                  <p class="small text-muted mt-1">&#8377</p><p id="total-price<%=item.productId._id %>" class="small text-muted mt-1"><%= item.totalPrice %></p>
                </div>
              </td>
              <!-- /Total -->
              
              <!-- Actions -->
              <td style="padding-left: 25px">
                <button class="btn btn-link px-2" onclick="deleteItem('<%= item.productId._id %>')">
                  <i class="ri-close-circle-line ri-lg"></i>
                </button>
              </td>
              <!-- /Actions -->
              <p id="quantityLimitMessage" style="color: red;"><%= limitMssg %></p>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /Cart Items -->

    <div class="col-12 col-lg-6 col-xl-5">
      <div class="bg-dark p-4 p-md-5 text-white">
        <h3 class="fs-3 fw-bold m-0 text-center">Order Summary</h3>
        <div class="py-3 border-bottom-white-opacity">
          <div class="d-flex justify-content-between align-items-center mb-2 flex-column flex-sm-row">
            <p class="m-0 fw-bolder fs-6">Subtotal</p>
            <div class="d-flex">
              <p class="m-0 fs-6 fw-bolder ">&#8377</p>
              <p class="m-0 fs-6 fw-bolder js-subtotal"><%= subtotal %></p>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center flex-column flex-sm-row mt-3 m-sm-0">
            <p class="m-0 fw-bolder fs-6">Shipping</p>
            <span class="text-white opacity-75 small">Will be set at checkout</span>
          </div>
        </div>
        <div class="py-3 border-bottom-white-opacity">
          <div class="d-flex justify-content-between align-items-center flex-column flex-sm-row">
            <div>
              <p class="m-0 fs-5 fw-bold">Grand Total</p>
            </div>
            <div class="d-flex">
              <p class="mt-3 m-sm-0 fs-5 fw-bold">&#8377</p>
              <p class="mt-3 m-sm-0 fs-5 fw-bold js-grand-total"><%= grandTotal %></p>
            </div>
          </div>
        </div>

        

        <!-- Checkout Button-->
        <a href="/checkout" class="btn proceed-btn btn-white w-100 text-center mt-3" role="button">
          <i class="ri-secure-payment-line align-bottom"></i> Proceed to checkout
        </a>
        <a href="/product/allcategory" class="btn btn-white add-btn w-100 text-center mt-3" role="button">
           Add items
        </a>
        
      </div>

      <!-- Payment Icons-->
      <ul class="list-unstyled d-flex justify-content-center mt-3">
        <li class="mx-1 border d-flex align-items-center p-2">
          <i class="pi pi-paypal"></i>
        </li>
        <li class="mx-1 border d-flex align-items-center p-2">
          <i class="pi pi-mastercard"></i>
        </li>
        <li class="mx-1 border d-flex align-items-center p-2">
          <i class="pi pi-american-express"></i>
        </li>
        <li class="mx-1 border d-flex align-items-center p-2">
          <i class="pi pi-visa"></i>
        </li>
      </ul>
      <!-- / Payment Icons-->
    </div>
  </div>

  <!-- Cart Summary -->
  <!-- /Cart Summary -->
  <% } %>
  
  <!-- /Page Content -->
</section>
<!-- / Main Section-->
<script>
  function changeQuantity(event, productId, action) {
    const quantityInput = event.target.parentElement.querySelector('input');
    let quantity = parseInt(quantityInput.value);

    if (action === "decrement") {
      quantity = Math.max(0, quantity - 1);
    } else if (action === "increment") {
      quantity += 1;
    }

    quantityInput.value = quantity;

    // Create the data to be sent in the fetch request
    const data = {
      productId: productId,
      quantity: quantity
    };

    // Send the fetch request
    fetch("/cart/update", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(data)
    })
      .then(response => response.json())
      .then(data => {
        const limitMssg = document.getElementById("quantityLimitMessage")
        limitMssg.textContent = `${data.limitMssg}`
        console.log(data)
        const totalPriceElement = document.getElementById(`total-price${productId}`);
        console.log(totalPriceElement)
        totalPriceElement.textContent = `${data.totalPrice}`;
        console.log(totalPriceElement)

        const subtotalElement = document.querySelector('.js-subtotal');
        subtotalElement.textContent = `${data.subtotal}`;

        const grandTotalElement = document.querySelector('.js-grand-total');
        grandTotalElement.textContent = `${data.grandTotal}`;
      })
      .catch(error => {
        // Handle errors
        console.error(error);
      });
  }

  // Add event listeners to the quantity change buttons
  document.querySelectorAll(".input-quantity").forEach(input => {
    input.addEventListener("input", event => {
      const productId = event.target.dataset.productId;
      changeQuantity(event, productId, "change");
    });
  });


</script>

<script>
  function deleteItem(productId) {
  // Create the data to be sent in the fetch request
  const data = {
    productId: productId
  };

  // Send the fetch request to delete the item
  fetch("/cart", {
    method: "delete",
    headers: {
      "Content-Type": "application/json"
    },
    body: JSON.stringify(data)
  })
    .then(response => response.json())
    .then(data => {
      console.log(data);
      const subtotalElement = document.querySelector('.js-subtotal');
        subtotalElement.textContent = `${data.subtotal}`;

        const grandTotalElement = document.querySelector('.js-grand-total');
        grandTotalElement.textContent = `${data.grandTotal}`;

        location.reload()
    })
    .catch(error => {
      // Handle errors
      console.error(error);
    });
}

</script>