<style>
  .h-100 {
    height: 90% !important;
}
@media (max-width: 768px) {
  .col-sm-6 {
    /* Change the column width to 50% for mobile screens */
    flex: 0 0 50%;
    max-width: 50%;
  }
 .bannerhead {
    font-size: 2rem;
  }

  bannerbody {
    font-size: 1rem;
  }

  /* Media query for smaller screens (phones) */
  @media (max-width: 768px) {
    .bannerhead {
      font-size: 1.4rem; /* Adjust the font size for phones */
    }

    .lead {
    font-size: 0.7rem;
    font-weight: 300;
}
  }
  
}
</style>
<style>
  @media (max-width: 767px) { /* Adjust the breakpoint as needed */
      .custom-dropdown {
          display: block !important;
          width: 100%;
      }
  }
</style>
<section class="mt-0">
  <!-- Category Top Banner -->
  <div
    class="py-6 bg-img-cover bg-dark bg-overlay-gradient-dark position-relative overflow-hidden mb-4 bg-pos-center-center"
    style="background-image: url(/images/banners/banner-1.jpg)"
  >
    <div
      class="container position-relative z-index-20"
      data-aos="fade-right"
      data-aos-delay="300"
    >
     
      <h1 class="fw-bold display-6 mb-4 bannerhead text-white">Gear Up for Adventure! 🏞️⛺</h1>
      <div class="col-12 col-md-6">
        <p class="lead text-white bannerbody mb-0">
          Embark on your next outdoor journey with confidence. Discover our rugged and versatile adventure clothing designed to withstand the elements. From waterproof jackets to durable hiking boots, we've got your back on the trail.        </p>
      </div>
    </div>
  </div>
  <!-- Category Top Banner -->

  <div class="container">
    <div class="row">
      <!-- Category Aside/Sidebar -->
      <div class="d-none d-lg-flex col-lg-3">
        <div class="pe-4">
          <!-- Category Aside -->
          <aside>
            <!-- Filter Category -->
            <div class="mb-4">
              <h2 class="mb-4 fs-6 mt-2 fw-bolder">Categories</h2>
              <nav>
                <ul class="list-unstyled list-default-text">
                  <li class="mb-2">
                    <a
                      class="text-decoration-none text-body text-secondary-hover transition-all d-flex justify-content-between align-items-center"
                      href="/product/allcategory"
                      ><span
                        ><i
                          class="ri-arrow-right-s-line align-bottom ms-n1"
                        ></i>
                        All Products</span
                      >
                      <span class="text-muted ms-4">(21)</span></a
                    >
                  </li>
                  <% categories.forEach(category => { %>
                  <li class="mb-2">
                    <a
                      class="text-decoration-none text-body text-secondary-hover transition-all d-flex justify-content-between align-items-center"
                      href="/product/category/<%= category.name %>"
                      name="categoryName"
                    >
                      <span
                        ><i
                          class="ri-arrow-right-s-line align-bottom ms-n1"
                        ></i>
                        <%= category.name %></span
                      >
                    </a>
                  </li>
                  <% }); %>
                </ul>
              </nav>
            </div>
            <!-- / Filter Category-->

            <!-- Price Filter -->
            <div class="py-4 widget-filter widget-filter-price border-top">
              <a
                class="small text-body text-decoration-none text-secondary-hover transition-all transition-all fs-6 fw-bolder d-block collapse-icon-chevron"
                data-bs-toggle="collapse"
                href="#filter-price"
                role="button"
                aria-expanded="true"
                aria-controls="filter-price"
              >
                Price
              </a>
              <div id="filter-price" class="collapse show">
                <div
                  class="d-flex justify-content-between align-items-center mt-2"
                >
                  <div class="input-group mb-0 me-2 border">
                    <span
                      class="input-group-text bg-transparent fs-7 p-2 text-muted border-0"
                      >&#8377</span
                    >
                    <input
                      type="number"
                      min="00"
                      max="1000"
                      value="0"
                      step="1"
                      id="filter-min"
                      class="filter-min form-control-sm border flex-grow-1 text-muted border-0"
                    />
                  </div>
                  <div class="input-group mb-0 ms-2 border">
                    <span
                      class="input-group-text bg-transparent fs-7 p-2 text-muted border-0"
                      >&#8377</span
                    >
                    <input
                      type="number"
                      min="00"
                      max="100000"
                      value="1000"
                      step="1"
                      id="filter-max"
                      class="filter-max form-control-sm flex-grow-1 text-muted border-0"
                    />
                  </div>
                </div>
              </div>
            </div>
            <!-- / Price Filter -->

            <div class="d-flex align-items-center flex-column flex-md-row">
              <!-- Filter Trigger -->
              <button
                class="btn bg-light p-3 d-flex d-lg-none align-items-center fs-xs fw-bold text-uppercase w-100 mb-2 mb-md-0 w-md-auto"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasFilters"
                aria-controls="offcanvasFilters"
              >
                <i class="ri-equalizer-line me-2"></i> Filters
              </button>
              <!-- / Filter Trigger -->
              <div
                class="dropdown ms-md-2 lh-1 p-3 bg-light w-100 mb-2 mb-md-0 w-md-auto"
              >
                <p
                  class="fs-xs fw-bold text-uppercase text-muted-hover p-0 m-0 dropdown-toggle"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Sort By
                </p>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item fs-xs fw-bold text-uppercase text-muted-hover mb-2"
                      href="#"
                      data-sort-by="highToLow"
                    >
                      Price: High to Low
                    </a>
                  </li>
                  <li>
                    <a
                      class="dropdown-item fs-xs fw-bold text-uppercase text-muted-hover mb-2"
                      href="#"
                      data-sort-by="lowToHigh"
                    >
                      Price: Low to High
                    </a>
                  </li>
                  <li>
                    <a
                      class="dropdown-item fs-xs fw-bold text-uppercase text-muted-hover mb-2"
                      href="#"
                      data-sort-by="releaseDate"
                    >
                      Release Date
                    </a>
                  </li>
                </ul>
              </div>
            </div>

          

          </aside>
          <!-- / Category Aside-->
        </div>
      </div>
      <!-- / Category Aside/Sidebar -->

      <!-- Category Products-->
      <div class="col-12 col-lg-9">
        <!-- Top Toolbar -->
        <div class="mb-4 d-md-flex justify-content-between align-items-center">
          <div class="dropdown custom-dropdown" style="display: none;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown button
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <% categories.forEach(category => { %>

                <li><a
                  class="text-decoration-none text-body text-secondary-hover transition-all d-flex justify-content-between align-items-center"
                  href="/product/category/<%= category.name %>"
                  name="categoryName"
                >
                  <span
                    ><i
                      class="ri-arrow-right-s-line align-bottom ms-n1"
                    ></i>
                    <%= category.name %></span
                  >
                </a></li>
                <% }) %>
            </ul>
        </div>
    
        </div>
        <!-- / Top Toolbar -->

      <!-- Products -->
<div class="row g-4 mb-5" id="productContainer">
  <% products.forEach(product => { %>
  <div class="col-12 col-sm-6 col-md-4">
    <!-- Card Product -->
    <% if (product.offerPrice) { %>
      <!-- Product card with offer -->
      <div class="card position-relative h-100 card-listing hover-trigger">
        <span class="badge card-badge bg-secondary">- <%= product.offerPercent %> %</span>
        <div class="card-header">
          <picture class="position-relative overflow-hidden d-block bg-light">
            <img class="w-100 img-fluid position-relative z-index-10" title="" src="/<%= product.image %>" alt="" />
          </picture>
          <div class="card-actions">
            <span class="small text-uppercase tracking-wide fw-bolder text-center d-block">View Product</span>
          </div>
        </div>
        <div class="card-body px-0 text-center">
          <a class="mb-0 mx-2 mx-md-4 fs-p link-cover text-decoration-none d-block text-center" href="/product/product-detail/<%= product.id %>"><%= product.name %></a>
          <div class="d-flex justify-content-center align-items-center mt-2">
            <p class="mb-0 me-2 text-danger fw-bolder">&#8377<span><%= product.offerPrice %></span></p>
            <p class="mb-0 text-muted fw-bolder"><s>&#8377<span><%= product.price %></span></s></p>
          </div>
        </div>
      </div>
    <% } else { %>
      <!-- Product card without offer -->
      <div class="card position-relative h-100 card-listing hover-trigger">
        <div class="card-header">
          <picture class="position-relative overflow-hidden d-block bg-light">
            <img class="w-100 img-fluid position-relative z-index-10" title="" src="/<%= product.image %>" alt="" />
          </picture>
          <div class="card-actions">
            <span class="small text-uppercase tracking-wide fw-bolder text-center d-block">View Product</span>
          </div>
        </div>
        <div class="card-body px-0 text-center">
          <a class="mb-0 mx-2 mx-md-4 fs-p link-cover text-decoration-none d-block text-center" href="/product/product-detail/<%= product.id %>"><%= product.name %></a>
          <p class="fw-bolder m-0 mt-2">&#8377 <span><%= product.price %></span></p>
        </div>
      </div>
    <% } %>
    <!-- / Card Product -->
  </div>
  <% }); %>
</div>
<!-- / Products -->

        <!-- Pagination -->
        <nav
          class="border-top mt-5 pt-5 d-flex justify-content-between align-items-center"
          aria-label="Category Pagination"
        >
          <ul class="pagination">
            <li class="page-item">
              <a
                class="page-link"
                id="prevPageLink"
                pg="<%= currentPage %> - 1"
                href=""
                ><i class="ri-arrow-left-line align-bottom"></i> Prev</a
              >
            </li>
          </ul>
          <ul class="pagination">
            <% for (let i = 1; i <= totalPages; i++) { %>
            <li class="page-item">
              <a class="page-link" href="/product/allcategory?page=<%= i %>"
                ><%= i %></a
              >
            </li>
            <% } %>
          </ul>

          <ul class="pagination">
            <li class="page-item">
              <a
                class="page-link"
                id="nextPageLink"
                pg="<%= currentPage %> + 1"
                href="#"
                >Next <i class="ri-arrow-right-line align-bottom"></i
              ></a>
            </li>
          </ul>
        </nav>

       
      </div>
      <!-- / Category Products-->
    </div>
  </div>
</section>
<!-- / Main Section-->
<script>
  // Add event listeners to the sorting options
  const sortOptions = document.querySelectorAll(".dropdown-item");
  for (const option of sortOptions) {
    option.addEventListener("click", function (event) {
      event.preventDefault();
      const sortOption = this.getAttribute("data-sort-by");
      fetchProducts(sortOption);
    });
  }

  // Function to fetch products based on the selected sort option
  const fetchProducts = async function (sortOption) {
    try {
      const url = "/product/sort"; // Set the route for the POST request
      const method = "POST"; // Set the HTTP method to POST
      const headers = {
        "Content-Type": "application/json", // Set the desired headers
      };

      const body = JSON.stringify({ sortOption });

      const response = await fetch(url, {
        method,
        headers,
        body,
      });

      const data = await response.json();

      if (response.ok) {
        console.log("Sort successful");
        // Perform actions with the sorted data
        // For example, update the product cards on the page
        updateProductCards(data.products);
      } else {
        console.log("Sort failed");
        // Handle error scenario
      }
    } catch (error) {
      console.log("Error in fetching products by given sort method", error);
    }
  };

 // Function to update the product cards with the data
const updateProductCards = function (products) {
  const productContainer = document.getElementById("productContainer");
  productContainer.innerHTML = ""; // Clear the existing product cards

  products.forEach((product) => {
    const card = `
      <div class="col-12 col-sm-6 col-md-4">
        <!-- Card Product -->
        <div class="card position-relative h-100 card-listing hover-trigger">
          <div class="card-header">
            <picture class="position-relative overflow-hidden d-block bg-light">
              <img class="w-100 img-fluid position-relative z-index-10" title="" src="/${product.image}" alt="" />
            </picture>
            <div class="card-actions">
            <span class="small text-uppercase tracking-wide fw-bolder text-center d-block">View Product</span>
          </div>
          </div>
          <div class="card-body px-0 text-center">
            <a class="mb-0 mx-2 mx-md-4 fs-p link-cover text-decoration-none d-block text-center" href="/product/product-detail/${product.id}">${product.name}</a>
            
            ${
              product.offerPrice
                ? `
                  <div class="d-flex justify-content-center align-items-center mt-2">
                    <p class="mb-0 me-2 text-danger fw-bolder">&#8377<span>${product.offerPrice}</span></p>
                    <p class="mb-0 text-muted fw-bolder"><s>&#8377<span>${product.price}</span></s></p>
                  </div>
                `
                : `<p class="fw-bolder m-0 mt-2">&#8377 <span>${product.price}</span></p>`
            }
          </div>
        </div>
        <!-- / Card Product -->
      </div>
    `;

    productContainer.insertAdjacentHTML("beforeend", card);
  });
};


  // Function to update the product cards with the sorted data
</script>

<script>
  const minInput = document.getElementById("filter-min");
  const maxInput = document.getElementById("filter-max");

  minInput.addEventListener("input", function () {
    const min = minInput.value.trim();
    console.log(min);
    sendFetchRequest(min, maxInput.value);
  });

  maxInput.addEventListener("input", function () {
    const max = maxInput.value.trim();
    console.log(max);
    sendFetchRequest(minInput.value, max);
  });

  function sendFetchRequest(min, max) {
    const url = "/product/filter-price";
    const method = "POST";
    const headers = {
      "Content-Type": "application/json",
    };
    const body = JSON.stringify({ min, max });

    fetch(url, {
      method,
      headers,
      body,
    })
      .then((response) => response.json())
      .then((data) => {
        updateProductCards(data.products);
      })
      .catch((error) => {
        console.log("Error in fetch request:", error);
      });
  }
</script>

<script>
  const prevPageLink = document.getElementById("prevPageLink");
  const nextPageLink = document.getElementById("nextPageLink");

  prevPageLink.addEventListener("click", function (event) {
    event.preventDefault();
    const currentPage = parseInt(prevPageLink.getAttribute("pg"));
    if (currentPage >= 1) {
      const prevPage = currentPage - 1;
      window.location.href = `/product/allcategory?page=${prevPage}`;
    }
  });

  nextPageLink.addEventListener("click", function (event) {
    event.preventDefault();
    const currentPage = parseInt(nextPageLink.getAttribute("pg"));
    const totalPages = document.querySelectorAll(
      ".pagination li.page-item"
    ).length;
    if (currentPage <= totalPages) {
      const nextPage = currentPage + 1;
      window.location.href = `/product/allcategory?page=${nextPage}`;
    }
  });
</script>
