<!-- Main Section-->
<!--                                         all products page                                         -->
<section class="mt-0">
  <!-- Category Top Banner -->
  <div
    class="py-6 bg-img-cover bg-dark bg-overlay-gradient-dark position-relative overflow-hidden mb-4 bg-pos-center-center"
    style="background-image: url(/images/banners/banner-1.jpg)"
  >
    <div
      class="container position-relative z-index-20"
      data-aos="fade-right"
      data-aos-delay="300"
    >
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item breadcrumb-light"><a href="#">Home</a></li>
          <li class="breadcrumb-item breadcrumb-light">
            <a href="#">Activities</a>
          </li>
          <li
            class="breadcrumb-item active breadcrumb-light"
            aria-current="page"
          >
            Clothing
          </li>
        </ol>
      </nav>
      <h1 class="fw-bold display-6 mb-4 text-white">Latest Arrivals (121)</h1>
      <div class="col-12 col-md-6">
        <p class="lead text-white mb-0">
          Move, stretch, jump and hike in our latest waterproof arrivals. We've
          got you covered for your hike or climbing sessions, from Gortex
           to lightweight waterproof pants. Discover our latest range of
          outdoor clothing.
        </p>
      </div>
    </div>
  </div>
  <!-- Category Top Banner -->

  <div class="container">
    <div class="row">
      <!-- Category Aside/Sidebar -->
      <div class="d-none d-lg-flex col-lg-3">
        <div class="pe-4">
          <!-- Category Aside -->
          <aside>
            <!-- Filter Category -->
            <div class="mb-4">
              <h2 class="mb-4 fs-6 mt-2 fw-bolder">Categories</h2>
              <nav>
                <ul class="list-unstyled list-default-text">
                  <li class="mb-2">
                    <a
                      class="text-decoration-none text-body text-secondary-hover transition-all d-flex justify-content-between align-items-center"
                      href="/product/allcategory"
                      ><span
                        ><i
                          class="ri-arrow-right-s-line align-bottom ms-n1"
                        ></i>
                        All Products</span
                      >
                      <span class="text-muted ms-4">(21)</span></a
                    >
                  </li>
                  <% categories.forEach(category => { %>
                  <li class="mb-2">
                    <a
                      class="text-decoration-none text-body text-secondary-hover transition-all d-flex justify-content-between align-items-center"
                      href="/product/category/<%= category.name %>"
                      name="categoryName"
                    >

                      <span
                        ><i
                          class="ri-arrow-right-s-line align-bottom ms-n1"
                        ></i>
                        <%= category.name %></span
                      >
                      <span class="text-muted ms-4">(13)</span>
                    </a>
                  </li>
                  <% }); %>
                  
                </ul>
              </nav>
            </div>
            <!-- / Filter Category-->

            
          </aside>
          <!-- / Category Aside-->
        </div>
      </div>
      <!-- / Category Aside/Sidebar -->

      <!-- Category Products-->
      <div class="col-12 col-lg-9">
       

        <!-- Products-->
        <div class="row g-4 mb-5">
          <% products.forEach(product => { %>
            <div class="col-12 col-sm-6 col-md-4">
              <!-- Card Product -->
              <% if (product.offerPrice) { %>
                <!-- Product card with offer -->
                <div class="card position-relative h-100 card-listing hover-trigger">
                  <span class="badge card-badge bg-secondary">- <%= product.offerPercent %> %</span>
                  <div class="card-header">
                    <picture class="position-relative overflow-hidden d-block bg-light">
                      <img class="w-100 img-fluid position-relative z-index-10" title="" src="/<%= product.image %>" alt="" />
                    </picture>
                    <div class="card-actions">
                      <span class="small text-uppercase tracking-wide fw-bolder text-center d-block">Quick Add</span>
                      <div class="d-flex justify-content-center align-items-center flex-wrap mt-3">
                        <button class="btn btn-outline-dark btn-sm mx-2">S</button>
                        <button class="btn btn-outline-dark btn-sm mx-2">M</button>
                        <button class="btn btn-outline-dark btn-sm mx-2">L</button>
                      </div>
                    </div>
                  </div>
                  <div class="card-body px-0 text-center">
                   
                    <a class="mb-0 mx-2 mx-md-4 fs-p link-cover text-decoration-none d-block text-center" href="/product/product-detail/<%= product.id %>"><%= product.name %></a>
                    <div class="d-flex justify-content-center align-items-center mt-2">
                      <p class="mb-0 me-2 text-danger fw-bolder">&#8377<span><%= product.offerPrice %></span></p>
                      <p class="mb-0 text-muted fw-bolder"><s>&#8377<span><%= product.price %></span></s></p>
                    </div>
                  </div>
                </div>
              <% } else { %>
                <!-- Product card without offer -->
                <div class="card position-relative h-100 card-listing hover-trigger">
                  <div class="card-header">
                    <picture class="position-relative overflow-hidden d-block bg-light">
                      <img class="w-100 img-fluid position-relative z-index-10" title="" src="/<%= product.image %>" alt="" />
                    </picture>
                    <div class="card-actions">
                      <span class="small text-uppercase tracking-wide fw-bolder text-center d-block">Quick Add</span>
                      <div class="d-flex justify-content-center align-items-center flex-wrap mt-3">
                        <button class="btn btn-outline-dark btn-sm mx-2">S</button>
                        <button class="btn btn-outline-dark btn-sm mx-2">M</button>
                        <button class="btn btn-outline-dark btn-sm mx-2">L</button>
                      </div>
                    </div>
                  </div>
                  <div class="card-body px-0 text-center">
                    <a class="mb-0 mx-2 mx-md-4 fs-p link-cover text-decoration-none d-block text-center" href="/product/product-detail/<%= product.id %>"><%= product.name %></a>
                    <p class="fw-bolder m-0 mt-2">&#8377 <span><%= product.price %></span></p>
                  </div>
                </div>
              <% } %>
              
              <!-- / Card Product -->
            </div>
          <% }); %>

          

          <div class="col-12 col-sm-6 col-md-4">
            <!-- Card Product-->

        <!-- / Products-->

        <!-- Pagiation-->
        <!-- Pagination-->
        <nav
          class="border-top mt-5 pt-5 d-flex justify-content-between align-items-center"
          aria-label="Category Pagination"
        >
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#"
                ><i class="ri-arrow-left-line align-bottom"></i> Prev</a
              >
            </li>
          </ul>
          <ul class="pagination">
            <li class="page-item active mx-1">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item mx-1"><a class="page-link" href="#">2</a></li>
            <li class="page-item mx-1"><a class="page-link" href="#">3</a></li>
          </ul>
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#"
                >Next <i class="ri-arrow-right-line align-bottom"></i
              ></a>
            </li>
          </ul>
        </nav>
        <!-- / Pagination-->

        <!-- Related Categories-->
        <div class="border-top mt-5 pt-5">
          <p class="lead fw-bolder">Related Categories</p>
          <div
            class="d-flex flex-wrap justify-content-start align-items-center"
          >
            <a
              class="btn btn-sm btn-outline-dark rounded-pill me-2 mb-2 mb-md-0 text-white-hover"
              href="#"
              >Hiking Shoes</a
            >
            <a
              class="btn btn-sm btn-outline-dark rounded-pill me-2 mb-2 mb-md-0 text-white-hover"
              href="#"
              >Waterproof Trousers</a
            >
            <a
              class="btn btn-sm btn-outline-dark rounded-pill me-2 mb-2 mb-md-0 text-white-hover"
              href="#"
              >Hiking Shirts</a
            >
            <a
              class="btn btn-sm btn-outline-dark rounded-pill me-2 mb-2 mb-md-0 text-white-hover"
              href="#"
              >Jackets</a
            >
            <a
              class="btn btn-sm btn-outline-dark rounded-pill me-2 mb-2 mb-md-0 text-white-hover"
              href="#"
              >Gilets</a
            >
            <a
              class="btn btn-sm btn-outline-dark rounded-pill me-2 mb-2 mb-md-0 text-white-hover"
              href="#"
              >Hiking Socks</a
            >
            <a
              class="btn btn-sm btn-outline-dark rounded-pill me-2 mb-2 mb-md-0 text-white-hover"
              href="#"
              >Rugsacks</a
            >
          </div>
        </div>
        <!-- Related Categories-->
      </div>
      <!-- / Category Products-->
    </div>
  </div>
</section>
<!-- / Main Section-->
