<h6>ALL PRODUCTS</h6>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Description</th>
      <th>Category</th>
      <th>Image</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% products.forEach(product => { %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= product.stock %></td>
      <td><%= product.description %></td>
      <td><%= product.category %></td>
      <td>
        <img
          src="/<%= product.image %>"
          alt="Product Image"
          height="100"
        />
      </td>
      <td>
        <% if (!product.deleted) { %> Active <% } else { %> Deactivated <%
        } %>
      </td>
      <td>
        <% if (!product.deleted) { %>
        <a href="/product/edit/<%= product.id %>" class="btn btn-primary"
          >Edit</a
        >
        <a
          href="/product/deactivate/<%= product.id %>"
          class="btn btn-danger"
          >Delete</a
        >
        <% } else { %>
        <a
          href="/product/activate/<%= product.id %>"
          class="btn btn-success"
          >Activate</a
        >
        <% } %>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>