<!-- products.ejs -->

<h1>Product List</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Description</th>
      <th>Category</th>
      <th>Image</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% products.forEach(product => { %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.description %></td>
        <td><%= product.category %></td>
        <td><img src="/<%= product.image %>" alt="Product Image" height="100"></td>
        <td>
          <% if (!product.deleted) { %>
            Available
          <% } else { %>
            Deleted
          <% } %>
        </td>
        <td>
          <a href="/product/edit/<%= product.id %>" class="btn btn-primary">Edit</a> 
          <a href="/product/delete/<%= product.id %>" class="btn btn-danger">Delete</a> 
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
